<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            Built with <a href="http://getgrav.org">Grav</a> by <a href="https://trilby.media">Trilby Media</a>.
            Icons supplied by <a href="https://icons8.com/line-awesome">Line Awesome</a>.
        </p>
    </section>
</section>
